<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="44e54291-ab0d-4566-85ff-0774102854a2" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="ed6dc094-16ee-44e6-b321-3463f547eb5a">contentBase</Composition>
      <Composition Key="3fc64bc0-b5ae-42d6-b6f3-ca1ec35da37c">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6afbdfe8-5818-4d4a-9f70-e814318736a5">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="44e54291-ab0d-4566-85ff-0774102854a2">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>