<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3b43d8e-292b-4a0d-8232-efeb66a75dc2" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="ed6dc094-16ee-44e6-b321-3463f547eb5a">contentBase</Composition>
      <Composition Key="3fc64bc0-b5ae-42d6-b6f3-ca1ec35da37c">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b50c7ab4-1069-4752-af07-cec1c6b3d583">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eb02ab6c-3c40-49b0-b7c4-319902974a9e">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8dbbaf5e-9342-4e82-a1b8-7218ada67c4f</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>