@inherits UmbracoViewPage<Person>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
	Layout = "master.cshtml";
}
<!-- for the section we want to show the shop header -->
@Html.Partial("~/Views/Partials/SectionHeader.cshtml", Model.Parent)
<section class="section">
    <div class="container">
        <h4>@feature.GetProperty("Name").Value()</h4>
        <h4>@feature.GetProperty("Description").Value()</h4>
        <div class="product-image-container">
            <img class="product-image" src="@Model.Photos.Url" />
        </div>
   </div>
</section>     
