<?xml version="1.0" encoding="utf-8"?>
<Media Key="9726bbcf-dda9-4d42-aeee-be55890dfcd1" Alias="Dog1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dog1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-20T18:28:57</CreateDate>
    <NodeName Default="Dog1" />
    <SortOrder>2</SortOrder>
    <FileHash>73212129249162106163892431331245163200219109</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/zg3dnf3j/test.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>