<?xml version="1.0" encoding="utf-8"?>
<Media Key="de25ddcb-c16f-4a82-b4c5-eb052317e939" Alias="dog2_rename" Level="2">
  <Info>
    <Parent Key="1fd2ecaf-f371-4c00-9306-867fa4585e7a">People</Parent>
    <Path>/People/dog2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2020-02-20T18:50:18</CreateDate>
    <NodeName Default="dog2_rename" />
    <SortOrder>1</SortOrder>
    <FileHash>24566766978208150422491621671064020737223</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0podlxtp/test2.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>