<?xml version="1.0" encoding="utf-8"?>
<Media Key="9621b31b-958e-4635-864b-2ba628dc00e7" Alias="Doggy Kallard" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/DoggyKallard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-21T14:30:51</CreateDate>
    <NodeName Default="Doggy Kallard" />
    <SortOrder>1</SortOrder>
    <FileHash>81613118784015326997320225321814197111</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/dwzddfuo/test3.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>