<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d0b713a-022a-49c8-b842-a2463c83a553" Alias="Knitted West" Level="2">
  <Info>
    <Parent Key="6d5bf746-cb82-45c5-bd15-dd3798209b87">Products</Parent>
    <Path>/Products/KnittedWest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-02-14T10:08:49</CreateDate>
    <NodeName Default="Knitted West" />
    <SortOrder>0</SortOrder>
    <FileHash>1691905584601056918982096725417888</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/1d0b713a022a49c8b842a2463c83a553/00000006000000000000000000000000/7373036208_30257976a0_b.jpg","focalPoint":null,"crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>